{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'style.css'%}">
    <title>Calculator</title>
</head>
<body>
    <form action="" method="post">
        {%csrf_token%}
        <center>
        <label for="num1">Num1:</label>
        <input type="number" name="num1">
        <br>
        <br>
        <label for="num2">Num2:</label>
        <input type="number" name="num2">
        <br>
        <br>
        <select name="op">Choice</select>
        <input type="submit" value="Add">
        </center>
    </form>
</body>
</html>