{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Calculator</title>
    <style>
        body {
            background-color: lightblue;
        }
    </style>
</head>
<body>
    <form action="" method="post">
        {%csrf_token%}
        <center>
        <label for="num1">Num1:</label>
        <input type="number" name="num1">
        <br>
        <br>
        <label for="num2">Num2:</label>
        <input type="number" name="num2">
        <br>
        <br>
        <select name="op">
            <option value="+">Addition</option>
            <option value="-">Subtraction</option>
            <option value="*">Multiplication</option>
            <option value="/">Division</option>
        </select>

        <input type="submit" value="result">
        </center>
    </form>
</body>
</html>