{% extends 'x_app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block banner_slider %}
<!--Banner Slider-->
 <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'x_app/images/banner/home2.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'x_app/images/banner/home3.jpg' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
<!-- End Banner Slider -->
{% endblock banner_slider %}

{% block main-content %}
<!-- 1st Product Slider -->
<div class="m-3">
 <h2 style="background-color: #3598a4">ChetuKart Phones of The Day</h2>
 <!-- Slider 1 -->
 <div class="owl-carousel" id="slider1">
  {%for i in mobiles%}
  <a href="{% url 'product-detail' i.id %}" class="btn" data-product-id="{{i.id}}">
    <div class="item">
      <img src="{{i.product_image.url}}" alt="" height="200px">
      <span class="fw-bold">{{i.title}}</span><br>
      <span class="fs-5">{{i.discounted_price}}</span>
    </div>
  </a>
  {%endfor%}
 </div>
</div>

<!-- 2nd Product Slider -->
<div class="mx-3">
 <h2 style="background-color: #3598a4">ChetuKart Laptops of The Day</h2>
 <!-- Slider 2 -->
 <div class="owl-carousel" id="slider2">
  {%for i in laptops%}
  <a href="{% url 'product-detail' i.id %}" class="btn" data-product-id="{{i.id}}" > 
    <div class="item"><img src="{{i.product_image.url}}" alt="" height="200px">
      <span class="fw-bold">{{i.title}}</span><br>
      <span class="fs-5">{{i.discounted_price}}</span>
    </div>
  </a>
  {%endfor%}
 </div>
</div>
{% endblock main-content %}
