{% extends 'x_app/base.html' %}
{% load static %}
{% block title %}Search{% endblock title %}
{% block main-content %}
<div class="container mt-4">
    <h2>Search Results</h2>
    <div class="row">
        {% for product in products %}
        <a href="{% url 'product-detail' product.id %}" class="btn" data-product-id="{{product.id}}">
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ product.product_image.url }}" class="card-img-top" alt="{{ product.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">{{ product.selling_price }}</p>
                </div>
            </div>
        </div>
        </a>    
        {% endfor %}
    </div>
</div>
{% endblock main-content %}