<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <table class="table" border="1">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
          </tr>
        </thead>
        {% for x in show %}
        <tbody class="table-group-divider">
            <tr>
              <th scope="row">{{x.id}}</th>
              <td>{{x.name}}</td>
              <td>{{x.email}}</td>
              <td>{{x.mobile}}</td>
              <td><a href="/{{x.sid}}"><button>Edit</button></a></td>
              <td ><a href="/{{x.id}}"> <button>Delete</button></a></td>
              
            </tr>
          </tbody>
          {%endfor%}
        </table>
</body>
</html>