{% extends 'base.html' %}
{% block content %}
<div class="container profile">
  <div class="row">
      <div class="col-md-4">
          <div class="profile-img">
              {% if user.profile.image %}
              <img src="{{user.profile.image.url}}" alt="" width="310px" height="270px">
              {% endif %}
          </div>
      </div>
      <div class="col-md-8">
          <div class="profile-tab">
              <div class="tab-pane">
                  <br><br>
                  <div class="row">
                      <div class="col-md-6">
                          <label>Username:</label>
                      </div>
                      <div class="col-md-6">
                          <p>{{user}}</p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                          <label>Full Name:</label>
                      </div>
                      <div class="col-md-6">
                          <p>{{user.get_full_name}}</p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                          <label>Email:</label>
                      </div>
                      <div class="col-md-6">
                          <p>{{user.email}}</p>
                      </div>
                  </div>
                  {% if user.profile.phone_no %}
                  <div class="row">
                      <div class="col-md-6">
                          <label>Phone Number:</label>
                      </div>
                      <div class="col-md-6">
                          <p>{{user.profile.phone_no}}</p>
                      </div>
                  </div>
                  {% endif %}
                  {% if user.profile.bio %}
                  <div class="row">
                      <div class="col-md-6">
                          <label>Bio:</label>
                      </div>
                      <div class="col-md-6">
                          <p>{{user.profile.bio}}</p>
                      </div>
                    </div>
                    {%endif%}
              </div>
          </div>
      </div>
</div>
</div>
{% endblock %}