<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Login</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" action="login/">
            {% csrf_token %}
            <div class="mb-3">
              <label for="loginUsername">Username</label>
              <input type="text" id="loginUsername" name="username" class="form-control" required>
              <span class="text-danger" style="display: none;"></span>
            </div>
            <div class="mb-3">
              <label for="loginPassword">Password</label>
              <input type="password" id="loginPassword" name="password" class="form-control" required>
              <span class="text-danger" style="display: none;"></span>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Register Modal -->
  <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="registerModalLabel">Register</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" action="register/">
            {% csrf_token %}
            <div class="mb-3">
              <label for="registerFirstName">First Name</label>
              <input type="text" id="registerFirstName" name="first_name" class="form-control" required>
              <span class="text-danger" style="display: none;"></span>
            </div>
            <div class="mb-3">
              <label for="registerLastName">Last Name</label>
              <input type="text" id="registerLastName" name="last_name" class="form-control" required>
              <span class="text-danger" style="display: none;"></span>
            </div>
            <div class="mb-3">
              <label for="registerUsername">Username</label>
              <input type="text" id="registerUsername" name="username" class="form-control" required>
              <span class="text-danger" style="display: none;"></span>
            </div>
            <div class="mb-3">
              <label for="registerEmail">Email</label>
              <input type="email" id="registerEmail" name="email" class="form-control" required>
              <span class="text-danger" style="display: none;"></span>
            </div>
            <div class="mb-3">
              <label for="registerPassword">Password</label>
              <input type="password" id="registerPassword" name="password" class="form-control" required>
              <span class="text-danger" style="display: none;"></span>
            </div>
            <div class="mb-3">
              <label for="registerRepeatPassword">Repeat Password</label>
              <input type="password" id="registerRepeatPassword" name="repeat_password" class="form-control" required>
              <span class="text-danger" style="display: none;"></span>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" name="super" id="superuser" value="1">
                <label class="form-check-label" for="superuser">Superuser</label>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" name="staff" id="staff" value="1">
                <label class="form-check-label" for="staff">Staff</label>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Register</button>
                <button type="reset" class="btn btn-secondary ms-2">Reset</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
