<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 600px;
            margin-top: 50px;
        }
        .form-control, .btn {
            border-radius: 0.25rem;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Contact Us</h1>
        <form id="contactForm">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required aria-label="Your Name">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" required aria-label="Your Email">
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea class="form-control" id="message" name="message" rows="4" placeholder="Your Message" required aria-label="Your Message"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Send Message</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#contactForm').on('submit', function(event) {
                event.preventDefault(); 
                var formData = $(this).serialize();
                $.ajax({
                    url: 'http://127.0.0.1:8000/contact/',
                    type: 'POST',
                    data: formData,
                    success: function(response) {
                        alert("send successful")
                      $('#contactForm')[0].reset(); 
                    },
                    error: function(xhr, status, error) {
                        alert('An error occurred: ' + error);
                    }
                });//ajax closing
            });
        });//jQuery closing
    </script>
</body>
</html>
