{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'fevicon/user.ico' %}">   
    <title>User</title>
    
    <style>
        body{
             background: #0096A3;
            overflow: hidden;
            }
      </style>
</head>
<body>
    <center>
        <br>
        <br>
        <br>
        <br>
        <h1>Welcome, {{ user.first_name }} {{ user.last_name }}!</h1>
    </center>
    
    <!-- <form method="post" action="">
        {% csrf_token %}
    </form> -->
</body>
</html>